<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="temp.check.app">

    <!--外设USB权限-->
    <uses-permission android:name="temp.usb.permission"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-feature android:name="android.hardware.usb.accessory" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_temperature"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_temperature"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <!--host模式下指定过滤设备的配置文件-->
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/device_acce" />

        </activity>
    </application>

</manifest>